<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<div class="container">
<h1>Liên hệ</h1>
<p>Tên: Lai</p>
<p>Điện thoại: 0379046059</p>
<p>Email: lainguyen10733@gmail.com</p>
</div>

<%- include('layouts/footer') %>