<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<div class="container">
<h1>🎵 Website Nhạc Việt</h1>
<p>Chào mừng bạn đến với danh sách bài hát hot tại Việt Nam</p>

<a class="btn" href="/list">Xem danh sách</a>
</div>

<%- include('layouts/footer') %>